@using Northwind.EntityModels
@model Northwind.Mvc.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
    string currentItem = "";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="alert alert-primary" >@DateTime.Now.ToLongTimeString()</p>
    <p><a asp-action="ModelBindning" asp-controller="Home">Bindning</a></p>
</div>
@if (Model is not null)
{
    <div id="categories" class="carousel slide" data-bs-ride="carousel"
        data-bs-interval="3000" data-keyboard="true">
        <ol class="carousel-indicators">
            @for (int c = 0; c < Model.Categories.Count; c++)
            {
                if (c == 0)
                {
                    currentItem = "active";
                }
                else
                {
                    currentItem = "";
                }
                <button type="button" data-bs-target="#categories" data-bs-slide-to="@c" class="@currentItem" aria-current="true" aria-label="Slide @(c + 1)"></button>

            }
        </ol>
        <div class="carousel-inner">
            @for (int c = 0; c < Model.Categories.Count; c++)
            {
                if (c == 0)
                {
                    currentItem = "active";
                }
                else
                {
                    currentItem = "";
                }
                <div class="carousel-item @currentItem">
                    <img class="d-block w-100" src="~/images/category@(Model.Categories[c].CategoryId).jpeg"
                         alt="@Model.Categories[c].CategoryName" />
                    <div class="carousel-caption d-none d-md-block">
                        <h2>@Model.Categories[c].CategoryName</h2>
                        <h3>@Model.Categories[c].Description</h3>
                        <p>
                            <a class="btn btn-primary" 
                            href="/category/@Model.Categories[c].CategoryId">View category</a>
                        </p>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#categories" 
        role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#categories"
           role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <h1>Northwind visitors</h1>
        <p class="lead">We have had @Model?.VisitorCount visitors this month.</p>      
    </div>
</div>
